configuration {
  modi: "run,ssh,drun";
  font: "sans 12";
  show-icons: true;
  sidebar-mode: true;
  hover-select: true;
  scroll-method: 2;
  max-history-size: 10;
  combi-display-format: "{text}";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "~/.config/rofi/rounded-common.rasi"
