[submodule ".zsh-plugins/zsh-autosuggestions"]
	path = .zsh-plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh-plugins/themes/powerlevel10k"]
	path = .zsh-plugins/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
