* {
	font-size: 14px;
	font-family: 'CaskaydiaCove Nerd Font', monospace;
}

window#waybar {
	opacity: 0.95;
	background: #282c34;
	color: #abb2bf;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

#window {
	margin: 1rem;
}

.modules-left {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	margin: 0.4rem 0.4rem 0 0.4rem;
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 1rem;
	color: #abb2bf;
}
#workspaces button.focused {
	color: #c678dd;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}

#clock,
#pulseaudio,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
